.toolbar {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 30px 0 30px;

    @media screen and (max-width: 768px) {
      padding: 0;
    }

    .sorting-tools {
      display: flex;
      flex-direction: row;

      :nth-child(n) {
        margin-right: 5px;
      }
    }

    .filtering-tools {
      justify-self: right;
    }
    @include breakpoint(bigscreens) {
        height: 780px;
      }
  }

    $palette: (
      red: (
        50:  #ffebee,
        100: #ffcdd2,
        200: #ef9a9a,
        300: #e57373,
        400: #ef5350,
        500: #f44336,
        600: #e53935,
        700: #d32f2f,
        800: #c62828,
        900: #b71c1c),
      purple: (
        50:  #f3e5f5,
        100: #e1bee7,
        200: #ce93d8,
        300: #ba68c8,
        400: #ab47bc,
        500: #9c27b0,
        600: #8e24aa,
        700: #7b1fa2,
        800: #6a1b9a,
        900: #4a148c),
      blue: (
        50:  #e3f2fd,
        100: #bbdefb,
        200: #90caf9,
        300: #64b5f6,
        400: #42a5f5,
        500: #2196f3,
        600: #1e88e5,
        700: #1976d2,
        800: #1565c0,
        900: #0d47a1),
      teal: (
        50:  #e0f2f1,
        100: #b2dfdb,
        200: #80cbc4,
        300: #4db6ac,
        400: #26a69a,
        500: #009688,
        600: #00897b,
        700: #00796b,
        800: #00695c,
        900: #004d40),
      green: (
        50:  #e8f5e9,
        100: #c8e6c9,
        200: #a5d6a7,
        300: #81c784,
        400: #66bb6a,
        500: #4caf50,
        600: #43a047,
        700: #388e3c,
        800: #2e7d32,
        900: #1b5e20),
      amber: (
        50:  #fff8e1,
        100: #ffecb3,
        200: #ffe082,
        300: #ffd54f,
        400: #ffca28,
        500: #ffc107,
        600: #ffb300,
        700: #ffa000,
        800: #ff8f00,
        900: #ff6f00),
      );

    $prefix: '--';
    $separator: '-';

    :root {
      @each $name,
      $color in $palette {
        @each $tone,
        $hex in $color {
          #{$prefix}#{$name}#{$separator}#{$tone}: #{$hex};
        }
      }
    }

    @function parseInt($number) {
      @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
      }
      @return $number;
    }

    $breakpoints: (
      "sm": #{$breakpoint-sm}, /// Mobile-landscape (and larger)
      "md": #{$breakpoint-md}, // Tablet-portrait (and larger)
      "lg": #{$breakpoint-lg}, // Tablet-landscape (and larger)
      "xl": #{$breakpoint-xl}, // Laptop (and langer)
    );

    @mixin mq($width, $type: min) {
      @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
          $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
          @content;
        }
      }
    }

    @mixin flex() {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: start;
      justify-content: center;
      align-items: start; //start; //stretch, start
      justify-items: start;
      @content;
    }